# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
PORT=5000
JWT_SECRET=fufufafa
CLOUDINARY_API_KEY=fufufafa
CLOUDINARY_API_SECRET=fufufafa 
CLOUDINARY_CLOUD_NAME=fufufafa
GEMINI_API_KEY=yourGeminiApi
BITESHIP_API_KEY=your-secret-api-key
IDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=